<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <section class="banner">
        <h1 class="banner-text">
            Top Songs
        </h1>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/home">Home</a></li>
                <li><a href="/filters" class="active">Back to Filters</a></li>
            </ul>
        </nav>
    </section>
    <br>
    <div class="songs">
        {% for song in outcome %}
            <h2>{{ song }}</h2>
        {% endfor %}
    </div>

    <!--<footer>
        <h3>Miguel Monreal 2024</h3>
    </footer>-->
</body>
</html>